
/* 팝업 */

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .6);
    transition: opacity .25s ease;
    z-index: 3;
}
.modal_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.modal-state {
    display: none;
}
.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
    top: 0;
}

.modal_inner {
    transition: top .25s ease;
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    margin: auto;
    overflow: auto;
    background-color: #161616;
    border-radius: 5px;
    padding: 1em 2em;
    height: 40%;
    color: #000000;
}

.modal_close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.modal_close:after,
.modal_close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.modal_close:hover:after,
.modal_close:hover:before {
    background: #aaa;
}

.modal_close:before {
    transform: rotate(-45deg);
}

    @media screen and (max-width: 768px) {

        .modal_inner {
            width: 90%;
            height: 90%;
            box-sizing: border-box;
        }
    }

.btn {
    cursor: pointer;
    background: #27ae60;
    display: inline-block;
    padding: .5em 1em;
    color: #fff;
    border-radius: 3px;
}

.btn:hover,
.btn:focus {
    background: #2ecc71;
}

/* 버튼 */

input[type="button"].fixed,
button.fixed,
.button.fixed {
    height: 60px;
    width: 100px;
    font-size: 13px;
    color: #FFFFFF;
    position:fixed;
    bottom:5px;
    right:5px;
    background-color:#BDBDBD;
    vertical-align: middle;
    line-height: 60px;
}

input[type="button"].fixed:hover
button.fixed:hover,
.button.fixed:hover {
    background-color: #999999;
}

input[type="button"].fixed:active
button.fixed:active,
.button.fixed:active {
    background-color: #ABABAB;
}

input[type="submit"].PC,
input[type="reset"].PC,
input[type="button"].PC,
button.PC,
.button.PC {
    background-color: #7E7E7E;
}

input[type="submit"].PC:hover,
input[type="reset"].PC:hover,
input[type="button"].PC:hover,
button.PC:hover,
.button.PC:hover {
    background-color: #5A5A5A;
}

input[type="submit"].PC:active,
input[type="reset"].PC:active,
input[type="button"].PC:active,
button.PC:active,
.button.PC:active {
    background-color: #6C6C6C;
}

input[type="submit"].PS,
input[type="reset"].PS,
input[type="button"].PS,
button.PS,
.button.PS {
    background-color: #6D6CFF;
}

input[type="submit"].PS:hover,
input[type="reset"].PS:hover,
input[type="button"].PS:hover,
button.PS:hover,
.button.PS:hover {
    background-color: #4948FF;
}

input[type="submit"].PS:active,
input[type="reset"].PS:active,
input[type="button"].PS:active,
button.PS:active,
.button.PS:active {
    background-color: #5B5AFF;
}

input[type="submit"].MS,
input[type="reset"].MS,
input[type="button"].MS,
button.MS,
.button.MS {
    background-color: #89FF82;
}

input[type="submit"].MS:hover,
input[type="reset"].MS:hover,
input[type="button"].MS:hover,
button.MS:hover,
.button.MS:hover {
    background-color: #65FF5E;
}

input[type="submit"].MS:active,
input[type="reset"].MS:active,
input[type="button"].MS:active,
button.MS:active,
.button.MS:active {
    background-color: #77FF70;
}

input[type="submit"].NIN,
input[type="reset"].NIN,
input[type="button"].NIN,
button.NIN,
.button.NIN {
    background-color: #FF6C6C;
}

input[type="submit"].NIN:hover,
input[type="reset"].NIN:hover,
input[type="button"].NIN:hover,
button.NIN:hover,
.button.NIN:hover {
    background-color: #FF4848;
}

input[type="submit"].NIN:active,
input[type="reset"].NIN:active,
input[type="button"].NIN:active,
button.NIN:active,
.button.NIN:active {
    background-color: #FF5A5A;
}

input[type="submit"].MB,
input[type="reset"].MB,
input[type="button"].MB,
button.MB,
.button.MB {
    background-color: #FFCA6C;
}

input[type="submit"].MB:hover,
input[type="reset"].MB:hover,
input[type="button"].MB:hover,
button.MB:hover,
.button.MB:hover {
    background-color: #FFA648;
}

input[type="submit"].MB:active,
input[type="reset"].MB:active,
input[type="button"].MB:active,
button.MB:active,
.button.MB:active {
    background-color: #FFB85A;
}

/* 로그인 회원가입 화면 */

#Login {
    margin-top: 5%;
    padding-bottom: 5px;
}

.Login_Table {
    margin: auto;
    border-radius: 5px;
    background-color: #323232;
    width: 95%;
}

.Register_Table {
    margin: auto;
    margin-top: 15%;
    border-radius: 5px;
    background-color: #323232;
    width: 40%;
}

.Login_Table td,
.Login_Table tr {
    vertical-align: middle;
    padding: 2%;
    text-align: center;
}

.Register_Table td,
.Register_Table tr {
    vertical-align: middle;
    padding: 1%;
    text-align: center;
}

.Login_Info {
    color: #FFFFFF;
    text-align: center;
    margin: auto;
}

.Register_Info {
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    width: 20%;
}

.Login_Button {
    margin: 10px;
    text-align: center;
}

.Login_Button button {
    background-color: #7E7E7E;
}

#Login_form {
    display: none;
    background-color: #000000;
    width: 50%;
}

/* 메인화면 팝업 */

.DevicePop {
    opacity: 0;
    display: none;
    position: relative;
    width: auto;
    border: 5px solid #fff;
    padding: 20px;
    background-color: #fff;
}

.thumbnailsPOP {
    display: none;
    width: 70%;
    border-radius: 4px;
    background-color: #161616;
}

.thumbnailsPOP .box {
    background-color: #323232;
    margin: 1em 1em 1em 1em;
    width: 30%;
    z-index: 0;
    float: left;
}

@media screen and (max-width: 1280px) {

    .thumbnails .box {
        width: 45%;
    }

}

@media screen and (max-width: 736px) {

    .thumbnails .box {
        width: 100%;
    }

}